<robot name="obstacle">

  <link name="obstacle">
		<visual>
		    <origin xyz="0 0 0." rpy="0 1.57079632679 0"/>
			<geometry>
  		       <cylinder radius="1" length="3"/>
			</geometry>
			<material name="anotherOne">
	       		<color rgba="0.72156862745 0 0 1.0"/>
	     	</material>
		</visual>
	  <collision>
		    <origin xyz="0 0 0." rpy="0 1.57079632679 0"/>
			<geometry>
  		       <cylinder radius="1" length="3"/>
			</geometry>
		</collision>
	     <inertial>
          <mass value="0.00000"/>
        <inertia ixx=".000" ixy="0.0000" ixz="0" iyy=".000" iyz="0.0" izz=".0"/>
    </inertial>
  </link>

</robot>