<robot name="box">

  <link name="box">
		<visual>
		    <origin xyz="0 0 0." rpy="0 0 0"/>
			<geometry>
				<box size="1 1 1"/>
			</geometry>
			<material name="green">
	       		<color rgba="0.011764705882352941, 0.9882352941176471, 0.5176470588235295 1.0"/>
	     	</material>
		</visual>
	  <inertial>
          <mass value="0.0"/>
        <inertia ixx=".0" ixy="0.0" ixz="0" iyy=".0" iyz="0.0" izz=".0"/>
    </inertial>
  </link>

</robot>